
.hero {
    display: flex;
    padding: 30px 70px;
    margin-top: 60px;
}

.hero-image img {
    width: 97%;
}

.hero-content {
    display: grid;
    place-content: center;
}

.hero-content h1 {
    font-size: 42px;
    padding-right: 10px;
    margin-bottom: 20px;
    color: #343052;
}

.hero-content p {
    padding-right: 22%;
    margin-bottom: 20px;
    color: #343052;
}

input[type='email'] {
    padding: 10px;
    width: 50%;
    border: none;
    border: 1px solid #7504c0;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type='email']:focus {
    border: 1px solid #fbaebb;
}

button[type='submit'] {
    padding: 11px;
    width: 20%;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background:#6b9bff;
    color: #ffffff;
}

.signup p {
    color:#d585a1;
    font-size: 14px;
}

@media screen and (max-width:912px) {

    /* HERO */
    .hero {
        display: flex;
        flex-direction: column;

        padding: 30px 20px;
    }

    .hero-content {
        order: 1;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .hero-content h1 {
        padding: 20px 100px;
        width: 100%;
    }

    .hero-content p {
        padding: 20px 100px;
        width: 100%;
    }

    .hero-content .signup {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        text-align: center;
    }

    .hero-image img {
        width: 80%;
    }

    .hero-content
     .signup input[type='email'] {
        padding: 13px 10px;
        width: 80%;
        margin-left: 0;
    }

    .hero-content .signup button[type='submit'] {
        padding: 14px 10px;
        width: 80%;
        margin-top: 15px;
    }
}

@media screen and (max-width:600px) {
    .hero {
        padding: 20px 40px;
    }

    .hero-content h1 {
        padding: 20px 0px;
        font-size: 32px;
    }
    .hero-content p {
        padding: 20px 10px;
        width: 100%;
    }
}

@media screen and (max-width:414px) {

    .hero h1 {
        font-size: 15px;
        padding: 30px 0;
    }

    .hero p {
        font-size: 14px;
        padding: 0;
    }
}