.top-nav nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    position: relative;
    color: #343052;
}
.top-nav nav ul {
    display: flex;
    width: 20%;
}
.top-nav nav ul li {
    margin: 0 auto;
    list-style: none;
}
.top-nav nav ul li a {
    text-decoration: none;
    color: #343052;
}

@media screen and (max-width:912px) {
    .top-nav nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .top-nav nav img {
        width: 100px;
    }

    .top-nav nav ul {
        width: 50%;
    }
}


@media screen and (max-width:414px) {
    .top-nav nav {
            overflow: hidden;
        }
    .top-nav nav img {
        width: 70px;
        height: 20px;
    }
    .top-nav nav ul li a {
        font-size: 12px;
    }
}